.register-btn {
    border: none;
    border-radius: 5px;
    background-color: #f6b93b;
    padding: 10px 40px;
    font-weight: bold;
    color: white;
    width: 100%;
}

.register-btn-disabled {
    opacity: 0.5;
    border: none;
    border-radius: 5px;
    background-color: #f6b93b;
    padding: 10px 40px;
    font-weight: bold;
    color: white;
    width: 100%;
}

.google-btn {
    border: none;
    border-radius: 5px;
    background-color: #0F9D58;
    color: white;
}

.github-btn {
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: white;
}

.register-container a {
    text-decoration: none;
    color: gray;
}

.register-container a:hover {
    color: var(--main-color);
}